  /* =============================================================== */
  /* ====================== Blog - post Page ====================== */
  /* ============================================================= */

  div.title-blog-section {
      width: 100%;
      height: 260px;
      background-image: url('https://img.freepik.com/free-psd/notebooks-mockup-with-black-element-black-background_24972-1167.jpg?size=664&ext=jpg&ga=GA1.2.184733883.1606720689');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  div.title-blog-section > div.title-content {
      backdrop-filter: brightness(0.5);
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  div.title-blog-section > div.title-content > * {
      color:white;
  }

  div.title-blog-section > div.title-content > h1 {
      font-size: 50px;
      margin-bottom: 30px;
  }

  div.title-blog-section > div.title-content > span.category {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--five-bg-color);
      border-radius: 50px;
      margin-bottom: 40px;
  }

  div.title-blog-section > div.title-content > div.writer-sec {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  div.title-blog-section > div.title-content > div.writer-sec > img.profile-writer {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin-right: 15px;
  }

  div.title-blog-section > div.title-content > div.writer-sec > span.name-writer {
      font-size: 12px;
      margin-right: 15px;
  }

  div.title-blog-section > div.title-content > div.writer-sec > span.date-writer {
      font-size: 12px;
      margin-left: 15px;
  }

  /* ============================================================== */
  /* ====================== Content - Blog ======================= */
  /* ============================================================ */
  
  div.content-blog-section {
      width: 660px;
      margin: 0 auto;
  }

  div.content-blog-section > div.image-title-blog {
      margin: 40px 0;
  }

  div.content-blog-section > div.image-title-blog > img.image-blog {
      width: 100%;
      height: 500px;
  }

  div.content-blog-section > div.image-title-blog > p {
      font-size: 14px;
  }

  div.content-blog-section > hr.hr-before-lasted-post {
      margin: 40px auto;
      width: 80%;
      height: 4px;
      background: var(--five-bg-color);
      padding: 0;
      border: none;
  }


  /* =============================================================== */
  /* ====================== Lastpost Section ====================== */
  /* ============================================================= */

  div.lastpost-section {
      width: 100%;
      background-color: var(--third-bg-color);
      padding: 70px 0;
  }

  div.lastpost-section > div.lastpost-container {
      width: 1170px;
      margin: 0 auto;
  }

  div.lastpost-section > div.lastpost-container > div.title-lastpost {
      display: flex;
      justify-content: space-between;
  }

  div.lastpost-section > div.lastpost-container > div.title-lastpost > div.title-text {
      font-size: 22px;
  }

  div.lastpost-section > div.lastpost-container > div.title-lastpost > div.arrow-seemore {
      font-size: 18px;
      display: flex;
      align-items: center;
  }

  div.lastpost-section > div.lastpost-container > div.title-lastpost > div.arrow-seemore > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--second-text-color);
  }

  div.lastpost-section > div.lastpost-container > div.items-post {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: 40px auto;
  }

  div.lastpost-section > div.lastpost-container > div.items-post > div.item-p {
    width: 100%;
    height: 210px;
    border-radius: 4px;
    background-image: url('https://img.freepik.com/free-photo/travel-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-wtih-trendy-hat-sunglass-smiling-blue-pastel-background-copy-space_1258-826.jpg?size=626&ext=jpg&ga=GA1.2.184733883.1606720689');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  div.lastpost-section > div.lastpost-container > div.items-post > div.item-p > div.content-post {
    backdrop-filter: brightness(0.5);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 20px 20px;
    border-radius: 4px;
  }

  div.lastpost-section > div.lastpost-container > div.items-post > div.item-p > div.content-post > h5 {
    color:white;
    font-size: 22px;
  }

  div.lastpost-section > div.lastpost-container > div.items-post > div.item-p > div.content-post > span {
    color:white;
    font-size: 8px;
  }