
    /* =============================================================== */
    /* ====================== Blog - page Section ======================= */
    /* ============================================================= */
    div.blog-page-section {
        width: 100%;
    }

    div.blog-page-section > div.blog-page-container {
        width: 1170px;
        margin: 0 auto;
        padding: 100px 0;
    }

    div.blog-page-section > div.blog-page-container > div.blog-page-title {
        display: flex;
        justify-content: center;
    }

    div.blog-page-section > div.blog-page-container > hr.blog-page-line {
        border: 2px solid var(--third-text-color);
        width: 15%;
        padding: 0;
        background: var(--third-text-color);
        margin: 20px auto 60px;
    }

        /* =============================================================== */
        /* ============== Blog - post - items Section =================== */
        /* ============================================================= */

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            margin: 0 0 40px;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item {
            width: 340px;
            height: 100%;
            box-shadow: 0px 2px 3px #e9e9e9;
            border-radius: 4px;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > a {
            text-decoration: none;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > a > img {
            width: 100%;
            border-radius: 4px;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content {
            padding: 10px 15px;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content > a {
            text-decoration: none;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content > a > div.category {
            background-color: var(--five-bg-color );
            color: var(--main-text-color);
            width: 120px;
            text-align: center;
            padding: 10px 20px;
            border-radius: 50px;
            margin: 20px 0;
        } 

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content > a > h4 {
            color: var(--third-text-color);
            font-size: 22px;
            margin: 20px 0;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content > p {
            font-size: 12px;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content > div.blog-page-writer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        div.blog-page-section > div.blog-page-container > div.blog-page-items-content > div.blog-page-item > div.blog-page-content > div.blog-page-writer > img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin: 20px 0;
        }